*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{
background:#000814;
color:white;
}

header{
background:#001845;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
width:60px;
height:60px;
}

.logo h1{
color:#ffd60a;
}

header input{
padding:10px;
border:none;
border-radius:10px;
outline:none;
}

.hero{
height:300px;
background:url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1200&auto=format&fit=crop') center/cover;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}

.hero h2{
font-size:55px;
color:#ffd60a;
text-shadow:0 0 20px #ffd60a;
}

.hero p{
font-size:22px;
background:rgba(0,0,0,.5);
padding:10px;
border-radius:10px;
}

.movies-section{
padding:20px;
}

.movies-section h2{
font-size:40px;
margin-bottom:20px;
color:#ffd60a;
}

.movies-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:20px;
}

.movie-card{
background:#001d3d;
border-radius:15px;
overflow:hidden;
}

.movie-card img{
width:100%;
height:300px;
object-fit:cover;
}

.movie-info{
padding:15px;
}

.movie-info h3{
margin-bottom:10px;
color:#ffd60a;
}

.movie-info p{
margin-bottom:10px;
opacity:.8;
}

.rating{
margin-bottom:10px;
color:gold;
}

.watch-btn,
.download-btn{
display:block;
padding:10px;
text-align:center;
border-radius:10px;
text-decoration:none;
font-weight:bold;
margin-top:10px;
}

.watch-btn{
background:#003566;
color:white;
}

.download-btn{
background:#ffd60a;
color:black;
}

footer{
background:#001845;
padding:20px;
text-align:center;
margin-top:50px;
}

.admin-panel{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.95);
padding:20px;
overflow:auto;
z-index:999;
}

.admin-box{
background:#001d3d;
padding:20px;
border-radius:20px;
max-width:500px;
margin:auto;
}

.admin-box input{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:10px;
}

.admin-box button{
width:100%;
padding:15px;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
margin-top:10px;
cursor:pointer;
}

.add-btn{
background:#003566;
color:white;
}

.close-btn{
background:red;
color:white;
}

.video-modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.95);
justify-content:center;
align-items:center;
padding:20px;
z-index:1000;
}

.video-box{
width:100%;
max-width:900px;
}

.video-box iframe{
width:100%;
height:500px;
border:none;
border-radius:20px;
}

.close-video{
background:red;
color:white;
padding:10px 20px;
border:none;
border-radius:10px;
margin-top:10px;
font-size:18px;
}

@media(max-width:700px){

.hero h2{
font-size:40px;
}

.video-box iframe{
height:250px;
}

}